// @import "compass/css3";
@import "~assets/css/utilities/_variable";
@import "~assets/css/utilities/_mixin";
@import "~assets/css/utilities/_extend";
@import "~assets/css/utilities/_media-queries";

/* ----------------------------------------------------------------------------------- */
/* sectionBg */
/* ----------------------------------------------------------------------------------- */
.sectionBg{
    position: relative;
    &:before{
        content: '';
        position: absolute;
        z-index: -1;
        background: url('~assets/images/howitworks_bg_left.png') no-repeat;
        // background: -webkit-linear-gradient(top, #ffffff 0, #eff3f6 50%, #ffffff 100%);
        // background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(50%, #eff3f6), to(#ffffff));
        // background: linear-gradient(to bottom, #ffffff 0, #eff3f6 50%, #ffffff 100%);
        // background-color: #ffffff;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // transform-origin: 0 0 0;
        // transform:matrix(1.00,0.00,-0.30,1.00,0,0);
        transform: translateY(-2.6rem);
    }
    &:after{
        content: '';
        position: absolute;
        z-index: -1;
        background: url('~assets/images/howitworks_bg_right.png')right no-repeat;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        transform: translateY(-2.6rem);
    }
}

/* ----------------------------------------------------------------------------------- */
/* stepList */
/* ----------------------------------------------------------------------------------- */
.stepList{
    .item{
        // @include col(1,5.4, $gap: 0.5rem); 
        width: 180px;
        margin: 1rem auto;
        letter-spacing: normal;
        @include media('below-tablet') {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .title-l{
        text-align: center;
    }
    .summary{

    }
    .icon-cricle{
        position: relative;
        width: 100%;
        padding-top: 100%;
        border-radius: 50%;
        background: #c3ad72; /* Old browsers */
        background: -moz-linear-gradient(left, #c3ad72 0%, #f0e6c3 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #c3ad72 0%,#f0e6c3 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #c3ad72 0%,#f0e6c3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3ad72', endColorstr='#f0e6c3',GradientType=1 ); /* IE6-9 */
        margin-bottom: 1rem;
        @include media('below-tablet') {
            width: 35%;
            padding-top: 35%;
            
        }


        &:before{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%,-50%,0);
            width: 95%;
            padding-top: 95%;
            background: #fff;
            border-radius: 50%;
        }
    }
    .text{
        @include media('below-tablet') {
            width: 60%;
        }
    }
    .icon{
        color: $web-secondaryColor;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
        font-size: 6rem;
        @include media('below-mobile') {
            font-size: 4.8rem;
        }
    }
}
/* ----------------------------------------------------------------------------------- */
/* buying */
/* ----------------------------------------------------------------------------------- */
.buying{
    margin-bottom: 3rem;
    .heading-l{
    }
    .betterChoice{
        position: relative;
        width: 90%;
        margin: 0 auto 0.4rem;
        text-align: center;
        color: #fff;
        padding: 2px;
        background: $web-pointColor;
        clip-path: polygon(8% 0%, 100% 0%, 91% 100%, 0% 100%);
        @include media('below-tablet') {
            width: 80%;
        }
        &:after{
            content: "";
            position: absolute;
            top: 0;
            right: 5%;
            width: 4px;
            height: 100%;
            background: #fff;
            transform: skewX(-26deg) translate3d(-6px,0,0);
        }
    }
    
}
.buying__stepList{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media('below-tablet') {
        flex-direction: column;
    }
    .floatLeft{
        transform: translateY(-7%); 
        @include media('below-tablet') {
            width: 100%;
            border: 2px solid #d8ca9b;
            padding: 1rem;
            border-radius: 7px;
            margin-top: 1rem;

            &:after{
                content: "";
                position: absolute;
                width: 4px;
                height: 100%;
                max-height: 2.1rem;
                top: 100%;
                left: 50%;
                background: #d9ca9b;
            }
        }
    }
    .floatRight{
        @include media('below-tablet') {
            border: 2px solid #d8ca9b;
            padding: 1rem;
            border-radius: 7px;
            margin-top: 1rem;
        }
        .buying__item{
            .icon-cricle{
                &:after{
                    content: "";
                    position: absolute;
                    left: -100%;
                    width: 100%;
                    max-width: 180px;
                    height: 4px;
                    background: #f0e6c3; /* Old browsers */
                    background: -moz-linear-gradient(left, #f0e6c3 0%, #c3ad72 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(left, #f0e6c3 0%,#c3ad72 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, #f0e6c3 0%,#c3ad72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0e6c3', endColorstr='#c3ad72',GradientType=1 ); /* IE6-9 */
                    z-index:-1;
                    @include media('below-tablet') {
                        display: none;
                    }
                }
            }
            &:first-child{
                .icon-cricle{
                    &:after{
                        top: 100%;
                        transform: rotate(-30deg) translate3d(13%,0,0);
                    }
                }
            }
            &:last-child{
                .icon-cricle{
                    &:after{
                        top: 0;
                        transform: rotate(30deg) translate3d(12%,0,0);

                    }
                }
            }
        }
    }
    .or{
        display: none;
        position: relative;
        @include media('below-tablet') {
            display: block;
            text-align: center;
            font-size: 2rem;
            font-weight: bold; 
            &:before{
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                display: inline-block;
                vertical-align: middle;
                border: 1px dashed #000;
                width: 40%;
            }
            &:after{
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                display: inline-block;
                vertical-align: middle;
                border: 1px dashed #000;
                width: 40%;
            }
        }
    }
}
.buying__item{
    @include media('below-tablet') {
        .icon-cricle{
        }
        .text{
            
        }
       
    }
    .icon{
        
    }
    .title-l{
        font-weight: bold;
    }
    .summary{
        
    }

}
/* ----------------------------------------------------------------------------------- */
/* selling */
/* ----------------------------------------------------------------------------------- */
.selling{
    .heading-l{
    }
    
}
.selling__stepList{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @include media('below-tablet') {
        flex-direction: column;
        max-width: 500px;
    }
}
.icon{
    
}
.title-l{
    font-weight: bold;
}
.summary{
    
}
.selling__item{
    &:not(:last-child){
        .icon-cricle{
            &:after{
                content: "";
                position: absolute;
                top: 50%;
                left: 100%;
                width: 100%;
                max-width: 60px;
                height: 4px;
                background: #f0e6c3; /* Old browsers */
                background: -moz-linear-gradient(left, #f0e6c3 0%, #c3ad72 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, #f0e6c3 0%,#c3ad72 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, #f0e6c3 0%,#c3ad72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0e6c3', endColorstr='#c3ad72',GradientType=1 ); /* IE6-9 */
                @include media('below-tablet') {
                    width: 4px;
                    height: 100%;
                    max-height: 141px;
                    top: 100%;
                    left: 50%;
                    background:#d9ca9b;
                }
            }
        }
    }
    .icon-cricle{

        @include media('below-tablet') {
        }
    }
    .text{
        @include media('below-tablet') {
        } 
    }
}