// @import "compass/css3";
@import "~assets/css/utilities/_variable";
@import "~assets/css/utilities/_mixin";
@import "~assets/css/utilities/_extend";
@import "~assets/css/utilities/_media-queries";


/* ----------------------------------------------------------------------------------- */
/* location */
/* ----------------------------------------------------------------------------------- */
.location{
   color: hsla(0, 0%, 100%, 0.5);
   padding-top: 1.5rem;
   a{
       color: hsla(0, 0%, 100%, 0.5);
   }
   .current{
       color: #fff;
   }
}
/* ----------------------------------------------------------------------------------- */
/*  */
/* ----------------------------------------------------------------------------------- */
.pdImg{
    text-align: center;
    img{
        width: 70%;
    }
    .v-viewer-box{
        display: flex;
    }
}

/* ----------------------------------------------------------------------------------- */
/* right bolck */
/* ----------------------------------------------------------------------------------- */
.bidStyle{
    &__Btn{
        margin-top: 1.5rem;
        .btn{
            font-size: 1.1rem;
        } 
    }
    .el-radio__label{
        font-size: 1.1rem;
    }
    .el-input{
        width: 100%;
    }
}



/* ----------------------------------------------------------------------------------- */
/* custom Element UI ： 「 Carousel走馬燈 」 */
/* ----------------------------------------------------------------------------------- */
.el-carousel__container{
    padding-bottom: 110%;
}

.el-carousel__indicator{
    &.is-active{
        button{
            width: 23px;
            border-radius: 7px; 
        }
    }
    &--outside{
        button{
            background-color: $web-secondaryColor; 
        }
    }
}

.el-carousel__arrow{
    background: none;
    color: $web-secondaryColor;
    &:hover{
        background: none;
    }
    i{
        font-size: xx-large;
    }
}
