// @import "compass/css3";
@import "~assets/css/utilities/_variable";
@import "~assets/css/utilities/_mixin";
@import "~assets/css/utilities/_extend";
@import "~assets/css/utilities/_media-queries";



/* ----------------------------------------------------------------------------------- */
/*  */
/* ----------------------------------------------------------------------------------- */
.pdImg{
    text-align: center;
    img{
        width: 70%;
    }
    .v-viewer-box{
        display: flex;
    }
}

/* ----------------------------------------------------------------------------------- */
/* right bolck */
/* ----------------------------------------------------------------------------------- */
.pdInfo{
    .title-m{
        font-weight: bold;
        line-height: 2rem;
        margin-bottom: 1.5rem;
    }
}
.pdInfo__detail{
    .text{
        line-height: 2.3rem;
    }
    .price{
        line-height: 1.8rem;
        margin-bottom: 1rem;
    }
    .text-gray{
        margin-left: 1rem;
    }
    .btn-secondary{
        width: 100%;
        margin-bottom: 1rem;
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 2rem;
        
    }
    .btn-text{
        font-size: 1.4rem;
        text-shadow: 0 0 10px #00000030;
        
    }
}
.pdInfo__bidStyle{
    &__Btn{
        margin-top: 1.5rem;
        .btn{
            font-size: 1.1rem;
        } 
    }
    .el-radio__label{
        font-size: 1.1rem;
    }
    .el-input{
        width: 100%;
    }
}
.pdDescription__bidSum{
    padding-left: 0.5rem;
    .bidders{
        margin-right: 1.5rem;
        font-weight: bolder;
    }
    .bids{
        font-weight: bolder;
    }
    
}
.pdTool{
    padding: 1rem;
}
/* ----------------------------------------------------------------------------------- */
/* pd Description */
/* ----------------------------------------------------------------------------------- */
.pdDescription{
    .tableStyle{
        width: 100%;
        background-color: transparent;
    }
    .tableWp{
        margin-top: 2rem;
    }
}
.privateSaleForm{
    .title-m{
        color: $web-secondaryColor;
        font-size: $font-XLarge;
    }
    .el-form{
        padding: 2rem;
        background: lighten(gray, 46%);
    }
}
/* ----------------------------------------------------------------------------------- */
/* pdTool */
/* ----------------------------------------------------------------------------------- */
.social_sharing{
    // display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;
    span{
        display: inline-block;
        padding: 5px 1rem;
        border: 1px solid #fff;
        background: $web-mainColor;
        border-radius: 5px;
        margin: 0.5rem;
        cursor: pointer;
        color: #fff;
    }
    .icon{
        &:before{
            color: #fff;
        }
    }
}
.follow{
    &.active{
        
    }
}