// @import "compass/css3";
@import "../utilities/_variable";
@import "../utilities/_mixin";
@import "../utilities/_extend";
@import "../utilities/_media-queries";


/* ----------------------------------------------------------------------------------- */
/* states : */
/* ----------------------------------------------------------------------------------- */
.fixedTop{
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 997;
    box-shadow: 0px 6px 10px rgba(#000,0.21);
    padding: 0.8rem 1rem;
    margin: 0 !important;

}

.ellipsisWidth{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.limit {
    position: relative;
    &:after{
        content: "...";
        position: absolute;
        bottom: 0;
        z-index: 999;
        // padding-left: 7px;
    }
    &.name{
        position: relative;
        overflow: hidden;
        // width: 60px;
        height: 23px;

    }
}
.limit-location{
    height: 1.6rem;
    line-height: 1.6rem;
    display: block;
    overflow: hidden;
    margin: -2px 0 0 !important;
    &:after{
        content: "...";
        position: absolute;
        bottom: -7px;
        z-index: 999;
        left: 36%;
    }
}

.active {
    color: $textcColor-highlight;
}
.btn-track{
    @extend %inlineBlock-top;
    background: none;
    color: $blueLink-color;
    font-size: 0.9rem;
    
}
.text-decor-solid{
    border-bottom: 1px solid;
}